* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
main {
	width: 960px;
	margin: 50px auto;
}
section {
	width: 300px;
	border: 1px solid;
	padding: 10px;
	float:left;
	position: relative;
}
.step{
	background-color: orange;
	color: white;
	position: absolute;
	top: 0;
	left: 0;
}
.main-image {
	width: 280px;
}
.center {
	margin: 0 30px;
}
@media screen and (max-width:768px) {
	main {
		width: 100%;
		margin: 50px auto;
	}
	section {
		width: 90%;
		margin: 0 auto;
		float: none;
	}
	.main-image {
		margin: 0 auto;
		width: 100%;

		}
	.center {
		margin: 20px auto;
	}
}